:root {
    --blue-color: #0ef;
    --black-color: #333;
    --text: MyText;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black-color);
}

a {
    color: rgb(255, 255, 255);
}