
{% load static %}
{% for film in data %}
                <div class="col-lg-3 col-sm-6 mb-3">
                   <div class="product-card">
                        <div class="product-thumb">
                            <a href="#"><img src="{% static 'img/covers/'|add:film.cover %}" alt="Нет обложки"></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="#">{{ film.title }}</a></h4>
                            <p>Рейтинг: {{ film.rating }}</p>
                        </div>
                   </div>
                </div>
{% endfor %}