
{% extends "base.html" %}

{% load static %}

{% block content %}







<div class="container my-2">
       <div class="d-flex justify-content-between flex-wrap align-items-center">

            <h2>Все новости</h2>
<!--           <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="http://127.0.0.1:8000/news/">Добавить новость</a>-->
<!--              </li>-->
<!--           </ul>-->
            <a href="http://127.0.0.1:8000/news/new_page/" aria-current="page" class="btn btn-primary" type="button">
                Добавить новость
            </a>
       </div>

<!--       <div class="d-flex justify-content-between align-content-center align-items-center flex-wrap">-->
        <div class="row">
           {% for news_item in data %}
           <div class="card mb-2" style="width: 18rem;">
               <div class="product-thumb">
                    <img src="{% static '/img/covers/'|add:news_item.cover %}" class="card-img-top" alt="Последняя новость №1">
               </div>
             <div class="card-body">
               <h5 class="card-title">{{ news_item.title }}</h5>
               <p class="card-text">{{ news_item.description|slice:"0:40"|add:"..." }}</p>
               <a href="{% url 'news_detail' news_item.news_id %}" class="btn btn-primary">Читать полностью</a>
             </div>
           </div>
           {% endfor %}
            </div>

<!--         </div>-->
    </div>


  {% endblock content %}